<div class="row">
	<div class="col-lg-3">
		<img class="img-responsive img-rounded" src="images/big/1.jpg" alt="">
	</div>
	<div class="col-lg-9">
		<p>Book name: <span id="bookName" class="bold"><strong>Under the lights</strong></span></p>
		<hr>
		<p>Author: <span id="authorName" class="bold"><strong>Steaven King</strong></span></p>
		<hr>
		<p>Year: <span id="bookYear" class="bold"><strong>1998</strong></span></p>
		<hr>
		<p>Category: <span id="category" class="bold"><strong>Adventure</strong></span></p>
		<hr>
		<p>Likes count: <span id="likes" class="bold"><strong>33</strong></span></p>
		<hr>
		<p class="bold">Short review:</p>
		<p id="review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas praesentium deserunt aspernatur consequatur laborum, nihil earum ipsum dolorem dolorum ratione. Culpa debitis iure voluptatum ullam voluptatibus, asperiores illum quaerat eaque.</p>
	</div>

</div>